<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanger.dao.SysRoleMenuDao" >
    <resultMap id="BaseResultMap" type="com.wanger.domain.SysRoleMenuEntity" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="role_code" property="role_code" jdbcType="VARCHAR" />
        <result column="menu_code" property="menu_code" jdbcType="VARCHAR" />
        <result column="create_time" property="create_time" jdbcType="DATE" />
        <result column="modify_time" property="modify_time" jdbcType="DATE" />
        <result column="is_del" property="is_del" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, role_code, menu_code, create_time, modify_time, is_del
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from sys_role_menu
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="insertSelective" parameterType="com.wanger.domain.SysRoleMenuEntity" >
        insert into sys_role_menu
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="role_code != null" >
                role_code,
            </if>
            <if test="menu_code != null" >
                menu_code,
            </if>
            <if test="create_time != null" >
                create_time,
            </if>
            <if test="modify_time != null" >
                modify_time,
            </if>
            <if test="is_del != null" >
                is_del,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="role_code != null" >
                #{role_code,jdbcType=VARCHAR},
            </if>
            <if test="menu_code != null" >
                #{menu_code,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null" >
                #{create_time,jdbcType=DATE},
            </if>
            <if test="modify_time != null" >
                #{modify_time,jdbcType=DATE},
            </if>
            <if test="is_del != null" >
                #{is_del,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.wanger.domain.SysRoleMenuEntity" >
        update sys_role_menu
        <set >
            <if test="role_code != null" >
                role_code = #{role_code,jdbcType=VARCHAR},
            </if>
            <if test="menu_code != null" >
                menu_code = #{menu_code,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null" >
                create_time = #{create_time,jdbcType=DATE},
            </if>
            <if test="modify_time != null" >
                modify_time = #{modify_time,jdbcType=DATE},
            </if>
            <if test="is_del != null" >
                is_del = #{is_del,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from sys_role_menu
        where id = #{id,jdbcType=INTEGER}
    </delete>

</mapper>